<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.persona-mgmt</key>
	<true/>
    <key>com.apple.private.security.container-required</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>com.apple.private.security.storage.AppDataContainers</key>
    <true/>

    <key>com.apple.Pasteboard.background-access</key>
    <true/>
    <key>com.apple.Pasteboard.copy-on-paste</key>
    <true/>
    <key>com.apple.Pasteboard.originating-bundle-id-query</key>
    <true/>
    <key>com.apple.Pasteboard.paste-unchecked</key>
    <true/>
    <key>com.apple.Pasteboard.trusted-authentication-message-request</key>
    <true/>
    <key>com.apple.Pasteboard.trusted-bundle-layout</key>
    <true/>

    <key>com.apple.private.ClipServices</key>
    <true/>
    <key>com.apple.private.contacts</key>
    <true/>
    <key>com.apple.private.CallHistory.read</key>
    <true/>
    <key>com.apple.CommCenter.fine-grained</key>
    <array>
        <string>internal</string>
        <string>notify-all</string>
        <string>spi</string>
        <string>data-usage</string>
        <string>identity</string>
        <string>phone</string>
        <string>bb-xpc</string>
    </array>
    <key>com.apple.security.exception.mach-lookup.global-name</key>
    <array>
        <string>com.apple.commcenter.coretelephony.xpc</string>
    </array>
    <key>com.apple.coreduetd.allow</key>
    <true/>
    <key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
        <string>UniqueDeviceID</string>
    </array>
    <key>com.apple.developer.device-information.user-assigned-device-name</key>
    <true/>
    <key>systemgroup.com.apple.powerlog</key>
    <true/>

	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.private.corewifi.internal</key>
	<true/>

	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.private.powersource-write</key>
	<true/>
	<key>com.apple.private.powersource-write-all</key>
	<true/>
	<key>com.apple.private.applesmartbattery-smcdatastream</key>
	<true/>
</dict>
</plist>
